* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
  }
  :root {
    --bg-color:#080808;
    --second-bg-color:#131313;
    --text-color:white;
    --main-color:#00ffee;
      
    }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 50px;
    
  }
  ::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 50px;
  }
  body {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    background-color: var(--bg-color);
  }
  .container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: var(--text-color);
    display: flex;
    justify-content: left;
    border-color: 2px solid var(--main-color);
    background-color: var(--second-bg-color);
  }
  #calendar {
    position: absolute;
    width: 55%;
    height: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--bg-color);
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--text-color);
  }
  #calendar::before,
  #calendar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d4d6d7;
    transform: translateY(-50%);
  }
  #calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
  }
  .right .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
    text-align: right;
  }
  .right .today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: #878895;
    text-align: right;
  }
table {
    border-collapse: collapse;
    width: 100%;

}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
td:hover {
    background-color: #f0f0f0;
}