:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: #ffffff;
    --main-color: #00ffee;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .settings-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--second-bg-color);
    border-radius: 8px;
    border: 2px solid var(--main-color); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .option {
    margin-bottom: 30px;
  
    border-radius: 5px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  select,
  input[type="color"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="var(--text-color)" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 16px;
  }
  
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
    